body{
    background-image: url(/image/cfb.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 200px 500px;
}
p{
    background-image: url(/image/marcador.png);
    background-repeat: repeat-x;
    font-size: 30pt;
    background-position: 0px 10px;
    
}