p{
    color: #51528b;
    font-weight: bold;
    font-size: 20pt;
    background: #f50434;
}
/*
    formato hexadecimal:
        padrão comprimido
             #fff
        padão extenso
             #ffffff

*/